[submodule "modules/ommr4all-server"]
	path = modules/ommr4all-server
	url = ../ommr4all-server.git
[submodule "modules/ommr4all-client"]
	path = modules/ommr4all-client
	url = ../ommr4all-client.git
[submodule "modules/ommr4all-line-detection"]
	path = modules/ommr4all-line-detection
	url = ../ommr4all-line-detection.git
[submodule "modules/page-segmentation"]
	path = modules/page-segmentation
	url = https://gitlab2.informatik.uni-wuerzburg.de/ls6/page-segmentation.git
[submodule "modules/ommr4all-layout-analysis"]
	path = modules/ommr4all-layout-analysis
	url = ../ommr4all-layout-analysis.git
[submodule "modules/calamari"]
	path = modules/calamari
	url = https://github.com/Calamari-OCR/calamari.git
