[submodule "modules/ommr4all-server"]
	path = modules/ommr4all-server
	url = ../ommr4all-server.git
[submodule "modules/ommr4all-client"]
	path = modules/ommr4all-client
	url = ../ommr4all-client.git
[submodule "modules/ommr4all-line-detection"]
	path = modules/ommr4all-line-detection
	url = ../ommr4all-line-detection.git
[submodule "modules/page-segmentation"]
	path = modules/page-segmentation
	url = ../../chw71yx/page-segmentation.git
